.highmovies__container {
    margin: 0px 10px;
}

.highmovies__container:nth-child(1) {
    margin-left: 0px;
}

.highmovies__container:nth-child(10){
    margin-right: 0px;
}

img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
}

h5 {
    width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.rate__container {
    display: flex;
    align-items: center;
}

.rate__container > p {
    margin-left: 4px;
    font-size: 15px;
    font-weight: 400;
    color: #9e9ea4;
}