* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}

.container {
  background-color: #202027;
  padding: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  margin: 0px auto 10px 0px;
  font-size: 18px;
  font-weight: 500;
}

section.highmovies {
  border-top: 1px solid #4d4d59;
  border-bottom: 1px solid #4d4d59;
  background-color: #3c3c47;
  margin: 20px -20px;
  padding: 20px;
}

.highmovies__item {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 4px;
}

.highmovies__item::-webkit-scrollbar {
  display: none;
}